{% extends "layout.twig" %}

{% block content %}
<div class="pt-home">
	<div class="home-feature">
		{{widget('feature', 'thisunqiuewidgetname', {"header": "Lorem ipsum dolor sit amet", "strapline": "Lorem ipsum dolor sit amet", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.png'), 'positionTopPercentage': '50','showBtn': true})|raw}}
	</div>

	<div class="zone-content clearfix">
		{{zone('main')|raw}}
	</div>

    
</div>
{% endblock content %}