<div class="footer">
	<div class="content-wrap">
		<div class="company">
			{{widget('companyname', 'w_companyname', {"business": "Spiritus"})|raw}}
		</div>
		<div class="footer-profile">
			<div class="col1">
				{{widget('profile', 'fp01', { 'profileType':'twitter' })|raw}}
			</div>
			<div class="col2">
				{{widget('profile', 'fp02', { 'profileType':'socialicons' })|raw}}
			</div>
		</div>
	</div>
</div>
